body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#ecoenergy {
    background-color: #200720;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}
#ecoenergy img {
    margin: 10px 0;
}
#side-bar {
    background-color: #3f0e40;
    color: #cbbfb8;
    width: 20%;
    height: auto;
    font-size: 20px;
    font-family: Slack v2;
}
#side-bar li:hover {
    background-color: #1164a3;
    color: #ebf2f7;
}
#side-bar ul {
    padding-inline-start: 10px;
    padding-inline-end: 10px; 
}
#search-bar span {
    border: 1px solid #260027;
    border-radius: 5px;
    display: flex;
    padding: 10px 6px;
    margin: 10px 15px;
    background-color: #260027;
    color: #a693a8;
}
#search-bar input {
    background-color: #260027;
    outline: none;
    padding: 0 2px;
    width: 100px;
}
#search-bar i {
    color: #937e95;
    font-size: 20px;
    margin-right: 7px;
}
#thread {
    display: flex;
    margin: 16px 15px;
}
.tk-2019 ul, .channels ul, .messages ul, .Apps ul, #thread ul{
    list-style-type: none;
}
.tk-2019 li, .channels li, .messages li, .Apps li{
    padding-bottom: 5px;
}
.tk-2019 ul :first-child, .channels ul :first-child, .messages ul :first-child, .Apps ul :first-child{
    display: flex;
    justify-content: space-between;
}
.tk-2019 li, .messages li, .channels li {
    display: flex;
}
.Apps ul :last-child {
    color: #2bac76; 
}
#side-bar span i{
    margin: 1px;
    color: #2bac76;
    font-size: 13px;
}
.details{
    padding-left: 1em;
    width: 80%;
    color: #191717de;
}
header {
    color: #b5b5b5;
    background-color: white;
    margin-top: 0px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
header h2 {
    color: rgb(12, 11, 11);
}
header i {
    padding: 0 8px;
}
#content {
    display: flex;
    flex-direction: row;
}
#chat-area {
    width: 75%;
}
#msg-box i:hover {
    color: rgb(122, 122, 219);
}
#msg-box i{
    border-left: 1px solid #d3d3d3;
}
#search-box i:hover {
    color: rgb(122, 122, 219);
}
#search-box span {
    display: inline;
    border: 1px solid grey;
    padding: 3px 5px;
    border-radius: 5px;
}
input {
    outline: none;
    border: none;
}
span {
    display: flex;
    padding: 5px;
    margin: 5px;
}
.chat {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}
.chat h3 {
    margin: 1px;
}
.text {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
.text p {
    margin: 2px 0;
}
.text i {
    margin: 5px 0;
    padding: 0 5px;
    letter-spacing: 9px;
    color: rgb(73, 53, 53);
}
a {
    text-decoration: none;
}

#rply {
    position: fixed;
    bottom: 0%;
    width: 74%;
    background-color: rgb(240, 232, 232);
    border: 2px solid grey;
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
#rply .write-text {
    color: #d2d2d2;
    display: inline-flex;
    margin-top: 10px;
}
.write-text input {
    outline: none;
    border: none;
    font-size: 20px;
    background-color: rgb(240, 232, 232);
}
.write-text i {
    font-size: 20px;
}
#rply i {
    margin-right: 20px;
    color: #937e95;
    font-size: 20px;
}
#rply .msg-icon {
    display: inline-flex;
    justify-items: right;
}
#aside-bar {
    margin-bottom: 37px;
    padding: 2px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 25%;
}
#aside-bar h2  {
    font-size: 20px;
    color: #1e1e1dc7;
}
#aside-bar .chat {
    margin: 0;
}
#aside-bar i {
    margin-right: 8px;
    font-size: 15px;
}
details {
    
   border-top: 1px solid grey;
    padding: 15px;
    font-size: 13px;
    color: darkslategrey;
    font-size: 18px;
}
details h3 {
    color: #080807;
}
details h4 {
    color:#686867;
}
details p{
    color: #797978;
}
summary {
    outline: none;
}
#member h3 {
   display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #side-bar {
        width: auto;
    }
    #ecoenergy {
        display: none;
    }
    header {
        display: none;
    }
    #rply {
        width: 90%;
    }
    #aside-bar {
        display: none;
    }
}