body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#side-bar {
    background-color: #3f0e40;
    color: #cbbfb8;
    width: 20%;
    height: auto;
    font-size: 20px;
    font-family: Slack v2;
}
#side-bar li:hover {
    background-color: #1164a3;
    color: #ebf2f7;
}
#side-bar ul {
    padding-inline-start: 10px;
    padding-inline-end: 10px; 
}
.tk-2019 ul {
    list-style-type: none;
}
.tk-2019 ul :first-child {
    display: flex;
    justify-content: space-between;
}
#search-bar {
    border: 1px solid #260027;
    border-radius: 5px;
    display: flex;
    padding: 3px 8px;
    margin: 0px 15px;
    background-color: #260027;
    color: #a693a8;
}
#thread {
    display: flex;
    margin: 16px 15px;
}
.channels ul, .messages ul, .Apps ul, #thread ul{
    list-style-type: none;
}
.channels li, .messages li, .Apps li {
    padding-bottom: 5px;
}
.channels ul :first-child, .messages ul :first-child, .Apps ul :first-child{
    display: flex;
    justify-content: space-between;
}
.messages ul :nth-child(2), .channels li {
    display: flex;
}
.Apps ul :last-child {
    color: #2bac76; 
}
span i{
    margin: 1px;
    color: #2bac76;
    font-size: 13px;
}
.details{
    padding-left: 1em;
    width: 80%;
    
}
header {
    color: #b5b5b5;
    background-color: white;
    margin-top: 0px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
header h2 {
    color: rgb(12, 11, 11);
}
header i {
    padding: 0 8px;
}
header #msg-box i{
    border-left: 1px solid #d3d3d3;
}
form {
    display: inline;
    border: 1px solid grey;
    padding: 3px 5px;
    border-radius: 5px;
}
input {
    border: none;
}
span {
    display: flex;
    padding: 5px;
    margin: 5px;
}
.chat {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}
.chat h3 {
    margin: 1px;
}
.text {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
.text p {
    margin: 2px 0;
}
.text i {
    margin: 5px 0;
    padding: 0 5px;
    letter-spacing: 9px;
    color: rgb(73, 53, 53);
}
a {
    text-decoration: none;
}
#rply {
    border: 2px solid grey;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
}
#rply :first-child {
    display: flex;
    justify-content: start;
    color: grey;
    font-size: 15px;
}
#rply :nth-child(2) {
    display: flex;
    justify-content: start;
}
#rply div {
    display: flex;
    justify-content: end;
}





